div {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.importantNotes {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.highlight {
    color: red;
}