.blah {
  background-image:url("../images/keys.jpg");
  background-position: center center;
  background-size: cover;
  height: 100px;
  color: #fff;  
}

.card {
  background-color: peachpuff;  
  padding: 5px;
  margin: 5px;
  border-radius: 20px;
  text-align: center;
}

.table {
  margin: 20px;
}