.blah {
  background-image:url("../images/keys.jpg");
  background-position: center center;
  background-size: cover;
  height: 100px;
  color: #fff;  
}

.cardDiv {
  background-color: yellow;
  align-self: left;
  margin-top: 20px;  
}

.cardImg {
  background-color: blue;
  height:150px;
  width: 150px;
}

.back {
  background-color: pink;
}

#memoryGame {
  background-color: green;
  align-content: left;
  width: 700px;
  margin-left: 20px;
}