.blah {
  background-image:url("../images/keys.jpg");
  background-position: center center;
  background-size: cover;
  height: 100px;
  color: #fff;  
}

.cardDiv {
  background-color: white;
  align-self: left;
  margin-top: 0.5em;  
}

.cardImg {
  background-color: white;
  height:6em;
  width: 6em;
  padding: 0;
}

.back {
  background-color: white;
}

#memoryGame {
  background-color: white;
  align-content: left;
  width: 24em;
  margin: 2em;
}