.floatright {
    float: right;
    margin: 0 0 10px 10px;
    border: 1px solid #666;
    padding: 2px;
}

ul#navlist {
    list-style-type: none;
    padding: 0;
    margin: 0; 
    float: left;
    width: 100%;
    color: purple;
    background-color: red;
}

ul#navlist li {
    display: inline;
    text-decoration: none;
}

ul#navlist li a {
    float: left;
    width: 5em;
    padding: 0.2em 1em;
    color: orange;
    background-color: green;
    border-right: 10px solid white;
}

ul#navlist li a:hover {
    background-color: #369;
    color: #fff;
}

#container {
    width: 90%;
    margin: 10px auto;
    background-color: #fff;
    color: #333;
    border: 1px solid gray;
    line-height: 130%;
}

#top
{
    padding: .5em;
    background-color: #ddd;
    border-bottom: 1px solid gray;
}

#top h1
{
    padding: 0;
    margin: 0;
}

#leftnav
{
    float: left;
    width: 160px;
    margin: 0;
    padding: 1em;
}

#leftnav p, #rightnav p {
    margin: 0 0 1em 0;
}

#rightnav
{
    float: right;
    width: 160px;
    margin: 0;
    padding: 1em;
}

#content
{
    margin-left: 200px;
    border-left: 1px solid gray;
    margin-right: 200px;
    border-right: 1px solid gray;
    padding: 1em;
}

#content h2 {
    margin: 0 0 .5em 0;
}

#content2 { max-width: 36em; }

#footer
{
    clear: both;
    margin: 0;
    padding: .5em;
    color: #333;
    background-color: #ddd;
    border-top: 1px solid gray;
}